Thesis/*.pdf
Thesis/Thesis.glo
Thesis/Thesis.ist
Thesis/Thesis.toc
Thesis/Thesis.xdy
Thesis/Thesis.bcf
Thesis/Thesis.out
Thesis/Thesis.run.xml
Thesis/Thesis.fdb_latexmk
Thesis/Thesis.fls
Thesis/Thesis.simple.out
Thesis/Thesis.simple.toc
Thesis/Thesis.tdo

# Local TeXmaker session file.
Thesis/Thesis.tks

*.aux
*.bbl
*.log
*.blg
*.synctex.gz
*.dvi
*~


# Images that should be generated.
Thesis/img/component_diagram.pdf
Thesis/img/first_generation_class_structure.pdf
Thesis/img/support-tools-recepionist-example.pdf
Thesis/img/system-state-machine-relations.pdf
Thesis/img/system-state-machine-relations-detailed.pdf
Thesis/img/uc2_test_config.pdf
Thesis/img/component_diagram_with_tests.pdf
Thesis/img/test-driven-development-flow.pdf
Thesis/img/sor-model.pdf
Thesis/img/resource_pool.pdf
Thesis/img/3rd_iteration_meta_model.pdf
Thesis/img/framework_example.pdf
Thesis/img/initial_model.pdf
Thesis/img/test_case_ui.pdf
Thesis/img/concept2_use_case_meta_model.pdf
Thesis/img/concept2_use_case_mapping.pdf
Thesis/img/concept2_example_object.pdf
Thesis/img/event-stack-to-state-machine.pdf
