Master_Thesis/*.pdf
Master_Thesis/Thesis.glo
Master_Thesis/Thesis.ist
Master_Thesis/Thesis.toc
Master_Thesis/Thesis.xdy

*.aux
*.bbl
*.log
*.blg
*.synctex.gz
*.dvi
*~


# Images that should be generated.
Master_Thesis/img/component_diagram.pdf
