Thesis/*.pdf
Thesis/Thesis.glo
Thesis/Thesis.ist
Thesis/Thesis.toc
Thesis/Thesis.xdy
Thesis/Thesis.bcf
Thesis/Thesis.out
Thesis/Thesis.run.xml

# Local TeXmaker session file.
Thesis/Thesis.tks

*.aux
*.bbl
*.log
*.blg
*.synctex.gz
*.dvi
*~


# Images that should be generated.
Master_Thesis/img/component_diagram.pdf
